<div class="lifted list">
    <h4>Общая информация</h4>
    <table>
        <tr><th>ИОФ:</th><td>Владимир С. Сусев</td></tr>
        <tr><th>Год рождения:</th><td>1984</td></tr>
        <tr><th>Email:</th><td>work@g1ts.net, VladimirSusev@gmail.com</td></tr>
        <tr><th>Сайт-визитка:</th><td>http://g1ts.net</td></tr>
    </table>
    <p>При необходимости вышлю ссылки на профили на хабре, гитхабе, в соц. сетях и т.п.</p>

    <h4>Образование</h4>
    <p>Высшее. В 2010ом году окончил 'Национальный исследовательский университет "МИФИ"' по специальности 'Вычислительные машины, комплексы, системы и сети'.</p>
    <p>Занимаюсь самообразованием, по возможности прохожу онлайн курсы, стараюсь следить за развитием технологий связанных с моей профессиональной деятельностью и ИТ в целом.</p>

    <h4>Опыт работы</h4>
    <ul>
        <li>до окончания университета работал лаборантом в лаборатории вычислительной техники, кроме основных обязанностей занимался администрированием (win me/xp/2003, Linux Ubuntu/Debian) и разработкой ПО для локальной автоматизации</li>
        <li>2010-2014гг. работал программистом в ВУЗе. Занимался разработкой и сопровождением ПО для внутренних нужд. Фактически являлся единственным работником занятым разработкой ПО</li>
        <li>в настоящее время фрилансер. Занимаюсь созданием небольших сайтов, веб приложений, модулей для ЦМС, приложений для ОС Android, вёрсткой, администрированием и т.п.</li>
    </ul>

    <h4>Навыки</h4>
    <ul>
        <li>активно использую и изучаю JavaScript (jQuery, Knockout, AngularJS), Node.js (Express, Connect), PHP (Yii, WordPress), HTML5, CSS3 (Twitter Bootstrap)</li>
        <li>имею некоторый опыт разработки на Java (Servlets, JSP, Hibernate, SmartGWT, GWT), C#, С, C++</li>
        <li>около десяти лет постоянно пользуюсь ОС Linux (Debian, Mint), имею некоторый опыт администрирование веб серверов (LAMP)</li>
        <li>git, mercurial</li>
    </ul>
</div>
