input.text{
	width: 260px;
	border: 0;
	margin: 0;
	height: 25px;
	font-size: 16px;
	background: #aaa;
}
table{
	color: #DDD;
}

textarea{
	margin-left: 0;
	background: #aaa;
	border: 0;
	margin: 0;
}

.err{
	border: 2px solid #ff0000 !important;
}

.info{
	border: 2px solid yellow !important;
}

#infodiv{
	color: #DDD;
}

body {
	background-color: #333;
}